In [1]:
import pandas as pd
import numpy as np
from datetime import datetime as dt
import json

<h5>Cleaning up Yahoo data</h5>

In [2]:
def clean_yahoo_df(path):
    ticker = path.split('/')[-1].split('.')[0]
    df = pd.read_csv(path)
    
    df.drop(['High','Low','Open','Close'], axis=1, inplace=True)
    df['Adj Close'] = df['Adj Close'].round(2)
    #df['Volume'] = df['Volume'].astype('int32')
    df.rename(columns={'Volume': f'{ticker}_volume', 'Adj Close': ticker}, inplace=True)
    df.set_index('Date', inplace=True)
    
    return df

In [3]:
main_df = clean_yahoo_df('final_dfs/spy.csv')
main_df.head()

            spy_volume    spy
Date
1993-01-29   1003200.0  26.30
1993-02-01    480500.0  26.49
1993-02-02    201300.0  26.54
1993-02-03    529400.0  26.82
1993-02-04    531500.0  26.94

Below are all tickers pulled from Yahoo and saved locally. I will need to find a way to automate the refresh daily but for now will use the data I have to optimize the model.

Also note, for the individual sector ETFs, I will use Vanguard ETFs instead of SPDR even if SPY is an SPDR ETFs. Even though most of the SPDR ETFs are larger and more liquid I find the Vanguard ETFs more accurately reflects their respective idustries as the portfolios include small and mid caps. SPDR ETFs are heavily concentrated in stocks already included in SPY.

In [4]:
# note: leaving out USO becuase we have /CL

etfs = ['qqq', 'iwm']

sector_etf_path = 'sector etfs - Vanguard'
sector_etf = ['vaw', 'vcr', 'vdc', 'vde', 'vfh', 'vgt', 'vht', 'vis', 'vnq', 'vox', 'vpu']

futures_path = 'futures'
futures = ['cl=f', 'gc=f']

bonds_etf_path = 'bonds etfs'
bonds = ['ief', 'tlt']

In [5]:
for ticker in etfs:
    temp_df = clean_yahoo_df(f'final_dfs/{ticker}.csv')
    main_df = main_df.join(temp_df, how='left')

for ticker in sector_etf:
    temp_df = clean_yahoo_df(f'final_dfs/{sector_etf_path}/{ticker}.csv')
    main_df = main_df.join(temp_df, how='left')

for ticker in futures:
    temp_df = clean_yahoo_df(f'final_dfs/{futures_path}/{ticker}.csv')
    main_df = main_df.join(temp_df, how='left')
    
for ticker in bonds:
    temp_df = clean_yahoo_df(f'final_dfs/{bonds_etf_path}/{ticker}.csv')
    main_df = main_df.join(temp_df, how='left')

In [6]:
main_df.head()

,spy_volume,spy,qqq_volume,qqq,iwm_volume,iwm,vaw_volume,vaw,vcr_volume,vcr,...,vpu_volume,vpu,cl=f_volume,cl=f,gc=f_volume,gc=f,ief_volume,ief,tlt_volume,tlt
Date,,,,,,,,,,,,,,,,,,,,,
1993-01-29,1003200.0,26.30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1993-02-01,480500.0,26.49,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1993-02-02,201300.0,26.54,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1993-02-03,529400.0,26.82,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1993-02-04,531500.0,26.94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Other charts (Treasure bond yields, Libor rate, Mortgage rate, M1 & M2 money supply, VIX, DIX)

In [7]:
# maybe include VVIX in the future?
# Notes:
# 30 year fixed mortgage rate is updated monthly (need may numbers)
# money supply data is updated weekly

economics_path = 'economics'
economics = ['CPIAUCSL', 'DFF', 'DGS10', 'DGS30', 'M1', 'M2', 'MORTGAGE15US', 'MORTGAGE30US',
             'T10YIE', 'UNRATE', 'USD1MTD156N', 'USD6MTD156N', 'USD12MD156N']
economic_names = ['CPI', 'fed_funds_rate', '10_yr_treasury', '30_yr_treasury', 'M1_supply',
                  'M2_supply', '15_yr_mortgage', '30_yr_mortgage', '10_yr_inflation',
                  'unemployment', '1m_libor', '3m_libor', '12m_libor']

currency_path = 'currency'
currency = ['dxy']

vix = '^vix'
dix = 'DIX'

In [8]:
# economic data
for code, name in zip(economics, economic_names):
    try:
        economics_df = pd.read_csv(f'final_dfs/{economics_path}/{code}.csv')
        economics_df.rename(columns={code: name}, inplace=True)
        economics_df.set_index('DATE', inplace=True)
        if code in ['M1_supply', 'M2_supply']:
            economics_df = economics_df * 1000000000
        elif code == 'GFDEBTN':
            economics_df = economics_df * 1000000
        elif code == 'CPIAUCSL':
            economics_df
        else:
            economics_df = economics_df / 100
    except:
        economics_df.replace('.', np.nan, inplace=True)
        economics_df.ffill(inplace=True)
    main_df = main_df.join(economics_df, how='left')

# currency (check date format)
currency_df = pd.read_csv(f'final_dfs/{currency_path}/{currency[0]}.csv')
currency_df.drop([' Open',' High',' Low'], axis=1, inplace=True)
currency_df.rename(columns={' Close': currency[0]}, inplace=True)
currency_df['Date'] = currency_df['Date'].apply(lambda x: dt.strptime(x, '%m/%d/%y').strftime('%Y-%m-%d'))
currency_df.set_index('Date', inplace=True)
main_df = main_df.join(currency_df, how='left')

# vix
vix_df = clean_yahoo_df(f'final_dfs/{vix}.csv')
vix_df.drop('^vix_volume', axis=1, inplace=True)
main_df = main_df.join(vix_df, how='left')

# dix
dix_df = pd.read_csv(f'final_dfs/{dix}.csv')
dix_df.drop('price', axis=1, inplace=True)
dix_df.set_index('date', inplace=True)
main_df = main_df.join(dix_df, how='left')

In [18]:
main_df.iloc[-30:,35:]
# problems... CPI, unemployment
# some economic numbers are released beginning/end of month which may be on weekends (monthly data)

,tlt,CPI,fed_funds_rate,10_yr_treasury,30_yr_treasury,M1_supply,M2_supply,15_yr_mortgage,30_yr_mortgage,10_yr_inflation,unemployment,1m_libor,3m_libor,12m_libor,dxy,^vix,dix,gex
Date,,,,,,,,,,,,,,,,,,
2020-03-20,158.99,NaN,0.0015,0.92,1.55,NaN,NaN,NaN,NaN,0.75,NaN,0.9285,0.99425,0.9335,102.82,66.04,0.411404,-6.417786e+08
2020-03-23,165.55,NaN,0.0015,0.76,1.33,43.237,162.704,NaN,NaN,0.8,NaN,0.94663,0.97325,0.93738,102.49,61.59,0.366571,-6.780356e+07
2020-03-24,162.46,NaN,0.0012,0.84,1.39,NaN,NaN,NaN,NaN,0.97,NaN,0.92488,0.98213,0.95675,102.04,61.67,0.402208,6.002200e+08
2020-03-25,162.10,NaN,0.0010,0.88,1.45,NaN,NaN,NaN,NaN,1.07,NaN,0.95913,1.06763,0.9875,101.05,63.95,0.461185,-1.576467e+08
2020-03-26,162.89,NaN,0.0010,0.83,1.42,NaN,NaN,0.0292,0.0350,1.07,NaN,0.94088,1.05763,0.97275,99.35,61.00,0.480941,1.106730e+09
2020-03-27,167.24,NaN,0.0010,0.72,1.29,NaN,NaN,NaN,NaN,0.94,NaN,0.98938,1.072,0.9685,98.36,65.54,0.482826,-2.893855e+08
2020-03-30,165.86,NaN,0.0009,0.70,1.31,45.258,166.660,NaN,NaN,0.95,NaN,0.9845,1.09175,1.014,99.18,57.08,0.472740,9.862025e+07
2020-03-31,164.52,NaN,0.0008,0.70,1.35,NaN,NaN,NaN,NaN,0.87,NaN,0.99288,1.17525,0.9975,99.05,53.54,0.497417,-1.482108e+08
2020-04-01,166.82,NaN,0.0006,0.62,1.27,NaN,NaN,NaN,NaN,0.91,0.147,1.01625,1.19525,1.00238,99.67,57.06,0.511401,-7.728500e+08
2020-04-02,167.88,NaN,0.0005,0.63,1.26,NaN,NaN,0.0282,0.0333,1.03,NaN,0.98163,1.20488,1.06013,100.18,50.91,0.485221,-5.073984e+08
2020-04-03,168.28,NaN,0.0005,0.62,1.24,NaN,NaN,NaN,NaN,1.08,NaN,0.98513,1.20888,1.04988,100.58,46.80,0.506475,-4.630797e+08
2020-04-06,167.84,NaN,0.0005,0.67,1.27,46.072,167.449,NaN,NaN,1.14,NaN,0.92125,1.23825,1.04263,100.69,45.24,0.446698,1.555165e+09
2020-04-07,166.08,NaN,0.0005,0.75,1.32,NaN,NaN,NaN,NaN,1.17,NaN,0.8635,1.2245,1.04475,99.90,46.70,0.482110,1.533925e+09
2020-04-08,164.88,NaN,0.0005,0.77,1.37,NaN,NaN,NaN,NaN,1.19,NaN,0.82888,1.22825,1.05313,100.12,43.35,0.501114,3.331833e+09
2020-04-09,165.18,NaN,0.0005,0.73,1.35,NaN,NaN,0.0277,0.0333,1.23,NaN,0.814,1.22588,1.05088,99.52,41.67,0.488574,2.608413e+09
2020-04-13,163.67,NaN,0.0005,0.76,1.39,47.393,168.713,NaN,NaN,1.26,NaN,0.814,1.22588,1.05088,99.35,41.17,0.493960,3.422978e+09
2020-04-14,163.63,NaN,0.0005,0.76,1.41,NaN,NaN,NaN,NaN,1.29,NaN,0.79413,1.15875,1.02588,98.89,37.76,0.477697,5.900188e+09
2020-04-15,167.96,NaN,0.0005,0.63,1.27,NaN,NaN,NaN,NaN,1.19,NaN,0.75075,1.15013,1.01413,99.46,40.84,0.511512,5.008143e+09
2020-04-16,169.87,NaN,0.0005,0.61,1.21,NaN,NaN,0.0280,0.0331,1.03,NaN,0.71825,1.125,0.98125,100.03,40.11,0.504736,6.412034e+09
2020-04-17,167.59,NaN,0.0005,0.65,1.27,NaN,NaN,NaN,NaN,1.01,NaN,0.67275,1.1025,0.98188,99.78,38.15,0.463644,1.907158e+09
2020-04-20,168.94,NaN,0.0005,0.63,1.23,48.728,172.348,NaN,NaN,0.94,NaN,0.66738,1.07588,0.98213,99.95,43.83,0.449047,2.399844e+09
2020-04-21,171.07,NaN,0.0005,0.58,1.17,NaN,NaN,NaN,NaN,0.96,NaN,0.62463,1.02425,0.9865,100.26,45.41,0.468291,7.156457e+08
2020-04-22,169.32,NaN,0.0005,0.63,1.22,NaN,NaN,NaN,NaN,1.06,NaN,0.56975,0.99063,0.97038,100.39,41.98,0.457186,1.825912e+09
2020-04-23,170.22,NaN,0.0004,0.61,1.18,NaN,NaN,0.0286,0.0333,1.05,NaN,0.48725,0.96525,0.96025,100.43,41.38,0.451655,2.109104e+09
2020-04-24,170.62,NaN,0.0005,0.60,1.17,NaN,NaN,NaN,NaN,1.11,NaN,0.44088,0.92225,0.9395,100.38,35.93,0.439759,1.264911e+09
2020-04-27,167.44,NaN,0.0004,0.67,1.25,NaN,NaN,NaN,NaN,1.17,NaN,0.43763,0.89313,0.92513,100.04,33.29,0.432132,1.284878e+09
2020-04-28,169.37,NaN,0.0004,0.62,1.20,NaN,NaN,NaN,NaN,1.14,NaN,0.40363,0.86188,0.90975,99.86,33.57,0.440944,9.315513e+08
2020-04-29,168.49,NaN,0.0004,0.63,1.24,NaN,NaN,NaN,NaN,1.14,NaN,0.37013,0.80488,0.89863,99.56,31.23,0.445038,2.502561e+09
2020-04-30,166.52,NaN,0.0005,0.64,1.28,NaN,NaN,0.0277,0.0323,1.07,NaN,0.32963,0.7595,0.86463,99.02,34.15,0.457729,3.331689e+09
2020-05-01,167.95,NaN,0.0005,0.64,1.27,NaN,NaN,NaN,NaN,1.06,NaN,0.30338,0.713,0.8355,99.08,37.19,0.483067,7.212821e+08